<h2>Añadir un Títutlo</h2>

<form [formGroup]="postForm" (ngSubmit)="onSubmit()" novalidate>

    <div class="mb-3">
        <label for="" class="form-label">Titulo</label>
        <input formControlName="Titulo" type="text" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Contenido</label>
        <input formControlName="contenido" type="text" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Autor</label>
        <input formControlName="autor" type="text" class="form-control" required>
    </div>

    <button [disabled]="!postForm.valid" type="submit" class="btn btn-primary">Guardar</button>

</form>
